<hr class="footer-divider">
<footer class="footer">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-auto">
                <p class="copyright text-muted text-center">
                    {{ if .Site.Params.footer.text }}
                        {{ .Site.Params.footer.text | safeHTML }}
                    {{ else }}
                        Copyright © {{ .Site.Params.author }} {{ now.Format "2006" }}
                    {{ end }}
                </p>
            </div>
        </div>
    </div>
</footer> 