{{ $people := .Site.Data.people.people }}

{{ $groupNameDisplay := (dict
    "collaborators" "Collaborators"
    "postdoc" "Postdocs"
    "phd" "PhDs"
    "external_faculty" "External Faculty"
    "current_members" "Current Members"
)}}

{{ range $groupName := slice "collaborators" "postdoc" "phd" "external_faculty" "current_members" }}
    {{ $group := index $people $groupName }}
    {{ if $group }}
    <h3 class="people__title">{{ index $groupNameDisplay $groupName}}</h3>
    <div
        class="people__group"
    >
        {{ range $person := $group }}
        {{ partial "person.html" $person }}
        {{ end }}
    </div>
    {{ end }}
{{ end }}
